@model planner.ViewModels.HomeViewModels

@{
    ViewData["Title"] = "Home Page";
}

    <main>
        <div class="container-fluid">
          <div class="row">
            @Html.Partial("_sideBar")
                <div class="col-9">
              <div class="detail_dashbord">
                <div class="row">
                  <div class="detail_dashbord1 col-3">
                    <div>
                      <img
                        class="img_detail_dashbord"
                        src="~/img/analysis.png"
                        alt=""
                      />
                    </div>
                    <div class="detail_dashbord_div">
                      <span class="detail_dashbord_span">کارهای انجام شده</span>
                      <p class="detail_dashbord_p">0 انجام شده</p>
                    </div>
                  </div>
                  <div class="detail_dashbord1 col-3">
                    <div>
                      <img
                        class="img_detail_dashbord"
                        src="~/img/hanging.png"
                        alt=""
                      />
                    </div>
                    <div class="detail_dashbord_div">
                      <span class="detail_dashbord_span"
                        >کارهای انجام نشده</span
                      >
                      <p class="detail_dashbord_p">0 انجام نشده</p>
                    </div>
                  </div>
                  <div class="detail_dashbord1 col-3">
                    <div>
                      <img
                        class="img_detail_dashbord"
                        src="~/img/rating.png"
                        alt=""
                      />
                    </div>
                    <div class="detail_dashbord_div">
                      <span class="detail_dashbord_span">امتیازات</span>
                      <p class="detail_dashbord_p">0 ستاره</p>
                    </div>
                  </div>
                  <div class="detail_dashbord1 col-3">
                    <div>
                      <img
                        class="img_detail_dashbord"
                        src="~/img/calendar.png"
                        alt=""
                      />
                    </div>
                    <div class="detail_dashbord_div">
                      <span class="detail_dashbord_span">کارهای امروز</span>
                      <p class="detail_dashbord_p">0 امروز</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="detail_dashbord">
                  <div class="row">
                    <div class="detail_dashbord1 col-4">
                      <img
                    class="detail_dashbord_personnel_img"
                    src="~/img/محمدرضا عرب.png"
                  />
                    </div>
                    <div class="detail_dashbord1 col-4">
                      <p class="detail_dashbord_p">
                        تکمیل اطلاعات کاربری
                      </p>
                    </div>
                    <div class="detail_dashbord1 col-4">
                      <a href="#" class="button_link"
                      ><button class="button_user">تکمیل اصلاعات کاربری</button></a
                    >
                    </div>
                  </div>
             
            </div>
            </div>
          </div>
            </div>
          </div>
    </main>
 
