<div class="container-fluid">
    <div class="login_wrappr">
        <div class="row">
            <div class="col-12">
                <div class="login_body">
                    <div class="link_register">
                        <h3>
                            هنوز ثبت نام نکرده اید؟ برای ثبت نام رایگان
                            <a href="#">کلیک کنید.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="login">
                    <div class="login_main">
                        <h1>پلنر</h1>
                        <input type="text"
                               required="required"
                               class="input"
                               placeholder="شماره موبایل" />
                        <input type="password"
                               required="required"
                               class="input"
                               placeholder="رمزعبور" />
                        <a href="#" class="button_link"><button class="button_login">ورود</button></a>
                        <p><a href="#" class="p_a">ثبت نام در سایت</a></p>
                        <p><a href="#" class="p_a">رمز عبورتان را فراموش کرده‌اید؟</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>