@model planner.Models.Users

<div class="container-fluid">
    <div class="login_wrappr">
        <div class="row">
            <div class="col-12">
                <div class="login_body">
                    <div class="link_register">
                        <h3>
                            هنوز ثبت نام نکرده اید؟ برای ثبت نام رایگان
                            <a href="#">کلیک کنید.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="login">
                    <div class="login_main">
                        <h1>پلنر</h1>
                        @using (Html.BeginForm("Login", "Home"))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Mobile , new {@Class = "input" , @Placeholder = "شماره موبایل"})
                                @Html.TextBoxFor(m => m.Password , new {@Class = "input" , @Id = "password", @Placeholder = "رمز عبور"})
                                @*@Html.HiddenFor(m => m.LoginDate , new { @Id = "loginDate" })*@
                                <button id="btnLogin" class="button_login">ثبت نام</button>
                            </div>
                        }
                        
                        <p><a href="#" class="p_a">ثبت نام در سایت</a></p>
                        <p><a href="#" class="p_a">رمز عبورتان را فراموش کرده‌اید؟</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>