@model planner.Models.Users

<div class="container-fluid">
    <div class="login_wrappr">
        <div class="row">
            <div class="col-12" >
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
            </div>
            <div class="col-12">
                <div class="login_body">
                   
                    <div class="link_register">
                        <h3>
                            هنوز ثبت نام نکرده اید؟ برای ثبت نام رایگان
                            <a href="#">کلیک کنید.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="login">
                    <div class="login_main">
                        <img width="200px" height="140px" src="~/img/logo.png" />
                        @using (Html.BeginForm("Login", "Home"))
                        {
                            <div class="form-group-auth">
                                @Html.TextBoxFor(m => m.Mobile , new {@Class = "input" , @Placeholder = "شماره موبایل"})
                            
                                @Html.TextBoxFor(m => m.Password , new {@Class = "input" , @Id = "password", @Placeholder = "رمز عبور" , @Type="password"})
                              
                                @*@Html.HiddenFor(m => m.LoginDate , new { @Id = "loginDate" })*@
                                <button id="btnLogin" class="button_login">ورود</button>
                            </div>
                        }
                        
                        <p><a asp-controller="Home" asp-action="Register" class="p_a">ثبت نام</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".passIcon").on('click' , function () {
            if ($(".passwordInput").attr("type") != "password"){
                $(".passwordInput").attr("type" , "password"); 
            }
            else {
                $(".passwordInput").attr("type" , "text");
            }           
        });
    })
</script>

<style>
    header {
        display: none !important;
    }

    form {
        width: 80%;
    }
</style>