
@{
    ViewData["Title"] = "Profile";
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <aside>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button accordion-button1 collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    فروردین
                                </button>
                            </h2>
                            <div id="flush-collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    اردیبهشت
                                </button>
                            </h2>
                            <div id="flush-collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    خرداد
                                </button>
                            </h2>
                            <div id="flush-collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingThree"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingfour">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsefour"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    تیر
                                </button>
                            </h2>
                            <div id="flush-collapsefour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingfour"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingfive">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsefive"
                                        aria-expanded="false"
                                        aria-controls="flush-collapsefive">
                                    مرداد
                                </button>
                            </h2>
                            <div id="flush-collapsefive"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingfive"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingsix">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsesix"
                                        aria-expanded="false"
                                        aria-controls="flush-collapsesix">
                                    شهریور
                                </button>
                            </h2>
                            <div id="flush-collapsesix"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingsix"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingseven">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseseven"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseseven">
                                    مهر
                                </button>
                            </h2>
                            <div id="flush-collapseseven"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingseven"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingeight">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseeight"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseeight">
                                    آبان
                                </button>
                            </h2>
                            <div id="flush-collapseeight"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingeight"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingnine">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsenine"
                                        aria-expanded="false"
                                        aria-controls="flush-collapsenine">
                                    آذر
                                </button>
                            </h2>
                            <div id="flush-collapsenine"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingnine"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingten">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseten"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseten">
                                    دی
                                </button>
                            </h2>
                            <div id="flush-collapseten"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingten"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingeleven">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseeleven"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseeleven">
                                    بهمن
                                </button>
                            </h2>
                            <div id="flush-collapseeleven"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingeleven"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingtwelve">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapsetwelve"
                                        aria-expanded="false"
                                        aria-controls="flush-collapsetwelve">
                                    اسفند
                                </button>
                            </h2>
                            <div id="flush-collapsetwelve"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingtwelve"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                        <li>جمعه،04 فروردین 1402</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-9">
                <div class="col-12">
                    <div class="profile-color">
                        <div class="profile-img-wapper">
                            <img class=" profile-img"
                                 src="~/img/محمدرضا عرب.png" />
                        </div>
                        <div class="submit-img">
                            <form action="/action_page.php">
                                <input type="file" id="myFile" name="filename">
                                <input type="submit">
                            </form>
                        </div>
                        <div class="profile-input">
                            <input type="text"
                                   required="required"
                                   class="input-profile"
                                   placeholder="نام و نام خانوادگی " />
                            <input type="text"
                                   required="required"
                                   class="input-profile"
                                   placeholder="شماره موبایل" />
                            <input type="password"
                                   required="required"
                                   class="input-profile"
                                   placeholder="رمزعبور" />
                            <input type="password"
                                   required="required"
                                   class="input-profile"
                                   placeholder="تکرار رمزعبور" />
                            <div class="button-wapper">
                                <a href="#" class="button_link"><button class="button_profile">ثبت</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
