@using Microsoft.AspNetCore.Http;
@using System.Globalization


@{
    var now = DateTime.Now;
    var persianCalendar = new System.Globalization.PersianCalendar();
}


<div class="col-3">
    <aside>
        <div class="accordion accordion-flush " id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading">
                    <a asp-controller="Home" asp-action="Index" >
                    <button  class="accordion-button accordion-button1 collapsed accordianToggler" type="button">
                      داشبورد
                    </button>
                    </a>
                </h2>
            </div>
            @{
                
                foreach (var month in Enumerable.Range(1, 12))
                {
                    var monthStartDate = new DateTime(now.Year, month, 1);

                    var year = persianCalendar.GetYear(DateTime.Now);
                    var daysInMonth = persianCalendar.GetDaysInMonth(year, month);
                    var monthName = new string[] { "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند" }[month - 1];

                    <div class="accordion-item">
                  
                        <h2 class="accordion-header" id="flush-heading@(monthStartDate.ToString("MMMM"))">
                            <button class="accordion-button accordion-button1 collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse@(monthStartDate.ToString("MMMM"))"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                 @monthName
                            </button>
                        </h2>
                        <div id="flush-collapse@(monthStartDate.ToString("MMMM"))"
                         class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    @foreach (var day in Enumerable.Range(1 , daysInMonth))
                                    {
                                        var date = new DateTime(year, month, day, persianCalendar);
                                        //var persianDate = persianCalendar.GetYear(date) + "/" +
                                        //persianCalendar.GetMonth(date).ToString("00") + "/" +
                                        //persianCalendar.GetDayOfMonth(date).ToString("00");

                                        <li><a href="/Home/Activity?YearId=@(persianCalendar.GetYear(date))&MonthId=@(persianCalendar.GetMonth(date))&DayId=@(persianCalendar.GetDayOfMonth(date))">
                                        @getPersianDay(persianCalendar.GetDayOfWeek(date).ToString()) - @date.ToString("yyyy/MM/dd" , new System.Globalization.CultureInfo("fa-IR"))
                                        </a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </aside>
</div>

@functions {


    private string getPersianDay(string _day)
    {
        string _dayName = "";

        switch (_day)
        {
            case "Saturday":
                _dayName = "شنبه";
                break;

            case "Sunday":
                _dayName = "یکشنبه";
                break;

            case "Monday":
                _dayName = "دوشنبه";
                break;

            case "Tuesday":
                _dayName = "سه شنبه";
                break;

            case "Wednesday":
                _dayName = "چهارشنبه";
                break;

            case "Thursday":
                _dayName = "پنجشنبه";
                break;

            case "Friday":
                _dayName = "جمعه";
                break;

        }

        return _dayName;
    }
}