@using Microsoft.AspNetCore.Http;
@using System.Globalization


@{
    var now = DateTime.Now;
    var persianCalendar = new System.Globalization.PersianCalendar();
}


<div class="col-3">
    <aside>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            @{
                for (int month = 1; month <= 12; month++)
                {
                    var monthStartDate = new DateTime(now.Year, month, 1);
                    var daysInMonth = DateTime.DaysInMonth(now.Year, month);

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading@(monthStartDate.ToString("MMMM"))">
                            <button class="accordion-button accordion-button1 collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse@(monthStartDate.ToString("MMMM"))"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                @GetPersianMonth(month)
                            </button>
                        </h2>
                        <div id="flush-collapse@(monthStartDate.ToString("MMMM"))"
                         class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (int day = 1; day <= daysInMonth; day++)
                                    {
                                        var date = new DateTime(now.Year, month, day);
                                        var persianDate = persianCalendar.GetYear(date) + "/" +
                                        persianCalendar.GetMonth(date).ToString("00") + "/" +
                                        persianCalendar.GetDayOfMonth(date).ToString("00");

                                        <li><a href="/Home/Activity?YearId=@(persianCalendar.GetYear(date))&MonthId=@(persianCalendar.GetMonth(date))&DayId=@(persianCalendar.GetDayOfMonth(date))">@getPersianDay(persianCalendar.GetDayOfWeek(date).ToString()) - @persianDate</a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </aside>
</div>

@functions {
    private string GetPersianMonth(int month)
    {
        string _monthname = "";

        switch (month)
        {
            case 1:
                _monthname = "فروردین";
                break;
            case 2:
                _monthname = "اردیبهشت";
                break;
            case 3:
                _monthname = "خرداد";
                break;
            case 4:
                _monthname = "تیر";
                break;
            case 5:
                _monthname = "مرداد";
                break;
            case 6:
                _monthname = "شهریور";
                break;
            case 7:
                _monthname = "مهر";
                break;
            case 8:
                _monthname = "آبان";
                break;
            case 9:
                _monthname = "آذر";
                break;
            case 10:
                _monthname = "دی";
                break;
            case 11:
                _monthname = "بهمن";
                break;
            case 12:
                _monthname = "اسفند";
                break;
        }

        return _monthname;
    }


    private string getPersianDay(string _day)
    {
        string _dayName = "";

        switch (_day)
        {
            case "Saturday":
                _dayName = "شنبه";
                break;

            case "Sunday":
                _dayName = "یکشنبه";
                break;

            case "Monday":
                _dayName = "دوشنبه";
                break;

            case "Tuesday":
                _dayName = "سه شنبه";
                break;

            case "Wednesday":
                _dayName = "چهارشنبه";
                break;

            case "Thursday":
                _dayName = "پنجشنبه";
                break;

            case "Friday":
                _dayName = "جمعه";
                break;

        }

        return _dayName;
    }
}